{% extends 'base.html' %}
{% load static  %}


{% block content %}

<section   class="py-5 text-center container">
    <div class="row py-lg-2">
      <div style="margin-bottom: -50px;"class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Наши IT услуги</h1>
       

      </div>
    </div>
  </section>

<ul style="list-style-type: none;">
<b><li class="lead"> <b>Администрирование сетевого оборудования (коммутаторы, маршрутизаторы, точки доступа,Wi-Fi мосты, межсетевые экраны).</b></li></b>
<li class="lead"> <b>Администрирование компьютеров (установка, настройка, обновление программного обеспечения и операционной системы, настройка прав доступа,резервирование данных).</b></li>
<li class="lead"> <b>Mодернизация, ремонт и техническое обслуживание компьютерной техники;</b></li>
<li class="lead"> <b>Замена, перемещение и модернизация рабочих мест;</b></li>
<li class="lead"><b>Инсталляция и обновление программного обеспечения;</b></li>
<li class="lead"><b> Подключение сетевого, серверного, компьютерного оборудования и оргтехники.</b></li>
<li class="lead"> <b>Настройка и поддержание работы оргтехники.</b></li>
<li class="lead"> <b>Консультирование пользователей вычислительной техники.</b></li>
</ul>

<h2 class="text-center fw-light">КАКИЕ ЗАДАЧИ ВЫПОЛНЯЕТ IT-АУТСОРСИНГ</h2>
<p class="text-center lead"><b>ИТ-аутсорсинг стремительно набирает популярность с каждым годом. Максимальный спрос наблюдается в США и странах западной Европы. Россия также не отстает. В нашей стране услуги ИТ-аутсорсинга пользуются максимальным спросом в Москве и областных центрах ЦФО

Услуги IT-аутсорсинга предполагают разную степень вовлечения сторонних специалистов. Возможна передача на обслуживание всей техники компании, что подразумевает построение информационной сети, аудит ИТ инфраструктуры, документация, планирование развития ИТ инфраструктуры бизнеса заказчика. Но и просто периодические плановые работы по обращениям пользователей, тоже можно отнести в услуги ИТ-аутсорсинга. То есть, можно делегировать полномочия частично, закрывая потребности тяготящего направления.

Предоставление IT-услуг, условно, можно разделить на три разных варианта сотрудничества: Стратегический аутсорсинг, подразумевающий передачу компании-аутсорсеру на обслуживание всей ИТ-инфраструктуры. При таком варианте сотрудничества вам не придется следить за работой компьютерной техники, модернизировать систему, устранять ошибки и так далее. Это самые масштабные и дорогостоящие IT-услуги для бизнеса, но он и максимально удобен, особенно для крупных компаний с большим компьютерным «парком».
Чтобы была меньшая финансовая нагрузка на ваш бизнес, IT-аутсорсинг можно выбрать функциональный. Это означает, что вы делегируете аутсорснгу какие-то конкретные обязанности, а не полностью обслуживание ИТ-инфраструктуры компании. Например, только поддержание работоспособности компьютерной техники или исключительно настройку и программирование 1С.
Предлагают IT-компании и услуги ресурсного аутсорсинга, что предполагает получение помощи только по запросу. Например, вы можете вызвать специалиста для настройки сети в офисе или нанять специалиста из аутсорсинговой компании на время отпуска вашего штатного системного администратора.

Какие задачи предают на АйТи-аутсорсинг Специалистам компаний, предлагающих услуги ИТ-аутсорсинга, передают различные задачи. Их делят на 4 основные группы.

1. Обучающий ИТ-аутсорсинг. Предполагает организацию курсов, лекций и тренингов. Задача специалистов — обучение персонала компании работе с оборудованием или программным обеспечением.
2. Проектный АйТи-аутсорсинг. Предполагает разработку различных приложений, создание сайтов и их продвижение, внедрение корпоративных систем управления, модификацию бухгалтерского/учетного ПО (1С-аутсосринг) и т. п.
3. Установка и обслуживание серверов. Специалисты берут на себя круглосуточный мониторинг, техническую поддержку, устранение неполадок, резервное копирование данных и т. д.
4. Организация ИС. Функциональный ИТ-аутсорсинг включает установку компьютеров, оргтехники и ПО, прокладку локально-вычислительных сетей, настройку системы и ее постоянное или периодическое обслуживание.




 включает установку компьютеров, оргтехники и ПО, прокладку локально-вычислительных сетей, настройку системы и ее постоянное или периодическое обслуживание.</b></p>





{% endblock %}
